<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="GuessTheNumber" onload="setNumberToFind()">

  <h1>Guess the number</h1>
  <div ng-controller="GuessController">
    <!-- form to get input -->
    <form id="FormCurrentGuess">
      Guess the number (1-999):
      <input id="inputnumber" type="number" placeholder="max 999" width="1500" min="1" max="999" ng-model="GuessInput" />
      <input type="button" ng-model="GuessButton" ng-click="checkInput()" value="Check" />
      <br />
      <label ng-bind="GuessResult"></label>
    </form>
    <!-- display previous failed guesses here -->
    <div previous-guesses></div>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>
